<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{{ 'style.css' | asset_url | stylesheet_tag }}


<curtain-customizer-app>
  <div class="ccapp-container">
    <div class="ccapp-wrapper">
      <div class="ccapp-media">
        <div class="thumb-container">
          <div class="ccapp-moc">
            <div class="curtain-fill"></div>
            <div class="trim-fill"></div>
            <div class="border-fill"></div>
            <div class="border-bottom-fill"></div>
            {% if block.settings.moc_image == blank %}
              <img src="https://cdn.shopify.com/s/files/1/0717/7958/2207/files/cartaidasdm.png?v=1746704642" alt="">
            {% else %}
              {{ block.settings.moc_image | image_url: width: block.settings.moc_image.width | image_tag: class: 'ccapp--desktop-moc' }}
            {% endif %}

            {% if block.settings.moc_image_mbl == blank %}
              <img src="https://cdn.shopify.com/s/files/1/0717/7958/2207/files/cartaidasdm.png?v=1746704642" alt="">
            {% else %}
              {{ block.settings.moc_image_mbl | image_url: width: block.settings.moc_image_mbl.width | image_tag: class: 'ccapp--mbl-moc' }}
            {% endif %}
          </div>
          <div class="ccapp-premade"></div>
        </div>
      </div>
      <div class="ccapp-info">
        <div class="ccapp--text-wrapper">
          <h4 class="ccapp--title">{{ block.settings.title }}</h4>
          <p class="ccapp--subtitle">{{ block.settings.subtitle }}</p>
        </div>
        <div class="ccapp--content-wrapper">
        </div>
        {% comment %} collection and swatch tab  {% endcomment %}
        {% comment %} <div class="ccapp-msc-tab" data-index="1">
          <div class="ccapp-msc-tab-heading">
            <h3 class="ccapp-collection-heading">Choose Collection</h3>
            <svg
              class="mcct-icon-svg"
              width="20px"
              height="20px"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="#5C5F62"></path>
            </svg>
          </div>
          <div class="ccapp-msc-tab-content">
            <div class="ccapp-collection-container">
              <div class="ccapp-collections-wrapper">Loading...</div>
            </div>
            <div class="ccapp-swatch-container">
              <div class="ccapp-sc-heading">
                <h3>Choose Color</h3>
              </div>
              <div class="ccapp-swatch-wrapper"></div>
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} size panel tab  {% endcomment %}
        {% comment %} <div class="ccapp-msc-tab" data-index="2">
          <div class="ccapp-msc-tab-heading">
            <div class="ccapp-osps-header">
              <h3 class="ccapp-osps-htitle">Order Single Panel Size</h3>
              <button class="ccapp-ospshti-btn ccapp-osps-modal-opener" data-type="length">
                <svg
                  fill="#000000"
                  width="20px"
                  height="20px"
                  viewBox="-1 0 19 19"
                  xmlns="http://www.w3.org/2000/svg"
                  class="cf-icon-svg"
                >
                  <path d="M16.417 9.583A7.917 7.917 0 1 1 8.5 1.666a7.917 7.917 0 0 1 7.917 7.917zM5.85 3.309a6.833 6.833 0 1 0 2.65-.534 6.787 6.787 0 0 0-2.65.534zm2.654 1.336A1.136 1.136 0 1 1 7.37 5.78a1.136 1.136 0 0 1 1.135-1.136zm.792 9.223V8.665a.792.792 0 1 0-1.583 0v5.203a.792.792 0 0 0 1.583 0z"/>
                </svg>
              </button>
            </div>
            <svg
              class="mcct-icon-svg"
              width="20px"
              height="20px"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="#5C5F62"></path>
            </svg>
          </div>
          <div class="ccapp-msc-tab-content">
            <div class="ccapp-single-panel-size-container">
              <div class="ccapp-sps-wrapper">
                <div class="ccapp-sps-diagram">
                  <div>Loading...</div>
                </div>
                <div class="ccapp-sps-sizes-wrapper"></div>
              </div>
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} lining type tab {% endcomment %}
        {% comment %} <div class="ccapp-msc-tab" data-index="3">
          <div class="ccapp-msc-tab-heading">
            <div class="ccapp-osps-header">
              <h3 class="ccapp-osps-htitle">Select Lining Type</h3>

              <button class="ccapp-lthti-btn ccapp-lt-modal-opener" data-type="lift-type">
                <svg
                  fill="#000000"
                  width="20px"
                  height="20px"
                  viewBox="-1 0 19 19"
                  xmlns="http://www.w3.org/2000/svg"
                  class="cf-icon-svg"
                >
                  <path d="M16.417 9.583A7.917 7.917 0 1 1 8.5 1.666a7.917 7.917 0 0 1 7.917 7.917zM5.85 3.309a6.833 6.833 0 1 0 2.65-.534 6.787 6.787 0 0 0-2.65.534zm2.654 1.336A1.136 1.136 0 1 1 7.37 5.78a1.136 1.136 0 0 1 1.135-1.136zm.792 9.223V8.665a.792.792 0 1 0-1.583 0v5.203a.792.792 0 0 0 1.583 0z"/>
                </svg>
              </button>
            </div>
            <svg
              class="mcct-icon-svg"
              width="20px"
              height="20px"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="#5C5F62"></path>
            </svg>
          </div>
          <div class="ccapp-msc-tab-content">
            <div class="ccapp-lining-type-container">
              <div class="ccapp-lining-type-wrapper">
                <div class="ccapp-lining-type-item">Loading...</div>
              </div>
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} tieback tab {% endcomment %}
        {% comment %} <div class="ccapp-msc-tab" data-index="4">
          <div class="ccapp-msc-tab-heading">
            <div class="ccapp-osps-header">
              <h3 class="ccapp-osps-htitle">Select Tieback</h3>
            </div>
            <svg
              class="mcct-icon-svg"
              width="20px"
              height="20px"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="#5C5F62"></path>
            </svg>
          </div>
          <div class="ccapp-msc-tab-content">
            <div class="ccapp-tieback-container">
              <div class="ccapp-tieback-wrapper">
                <div class="ccapp-tieback-item">Loading...</div>
              </div>
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} body memory shaped tab {% endcomment %}
        {% comment %} <div class="ccapp-msc-tab" data-index="5">
          <div class="ccapp-msc-tab-heading">
            <div class="ccapp-osps-header">
              <h3 class="ccapp-osps-htitle">Body Memory Shaped</h3>
            </div>
            <svg
              class="mcct-icon-svg"
              width="20px"
              height="20px"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="#5C5F62"></path>
            </svg>
          </div>
          <div class="ccapp-msc-tab-content">
            <div class="ccapp-bms-container">
              <div class="ccapp-bms-wrapper">
                <div class="ccapp-bms-item">Loading...</div>
              </div>
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} body memory shaped tab {% endcomment %}
        {% comment %} <div class="ccapp-msc-tab" data-index="6">
          <div class="ccapp-msc-tab-heading">
            <div class="ccapp-osps-header">
              <h3 class="ccapp-osps-htitle">Room Label</h3>
            </div>
            <svg
              class="mcct-icon-svg"
              width="20px"
              height="20px"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="#5C5F62"></path>
            </svg>
          </div>
          <div class="ccapp-msc-tab-content">
            <div class="ccapp-rl-container">
              <div class="ccapp-rl-wrapper">
                <div class="ccapp-rl-item">Loading...</div>
              </div>
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} order track size tab {% endcomment %}
        {% comment %} <div class="ccapp-msc-tab" data-index="7">
          <div class="ccapp-msc-tab-heading">
            <div class="ccapp-osps-header">
              <h3 class="ccapp-osps-htitle">Order Track Size</h3>
              <button class="ccapp-ots-btn ccapp-ots-modal-opener" data-type="track-size">
                <svg
                  fill="#000000"
                  width="20px"
                  height="20px"
                  viewBox="-1 0 19 19"
                  xmlns="http://www.w3.org/2000/svg"
                  class="cf-icon-svg"
                >
                  <path d="M16.417 9.583A7.917 7.917 0 1 1 8.5 1.666a7.917 7.917 0 0 1 7.917 7.917zM5.85 3.309a6.833 6.833 0 1 0 2.65-.534 6.787 6.787 0 0 0-2.65.534zm2.654 1.336A1.136 1.136 0 1 1 7.37 5.78a1.136 1.136 0 0 1 1.135-1.136zm.792 9.223V8.665a.792.792 0 1 0-1.583 0v5.203a.792.792 0 0 0 1.583 0z"/>
                </svg>
              </button>
            </div>
            <svg
              class="mcct-icon-svg"
              width="20px"
              height="20px"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="#5C5F62"></path>
            </svg>
          </div>
          <div class="ccapp-msc-tab-content">
            <div class="ccapp-order-track-size-container">
              <div class="ccapp-order-track-size-header">Selected: N/A (N/A)</div>
              <div class="ccapp-order-track-size-buttons">Loading...</div>
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} single panel or pair tab {% endcomment %}
        {% comment %} <div class="ccapp-msc-tab" data-index="8">
          <div class="ccapp-msc-tab-heading">
            <div class="ccapp-osps-header">
              <h3 class="ccapp-osps-htitle">Single Panel or Pair</h3>
              <button class="ccapp-pt-btn ccapp-pt-modal-opener" data-type="panel-type">
                <svg
                  fill="#000000"
                  width="20px"
                  height="20px"
                  viewBox="-1 0 19 19"
                  xmlns="http://www.w3.org/2000/svg"
                  class="cf-icon-svg"
                >
                  <path d="M16.417 9.583A7.917 7.917 0 1 1 8.5 1.666a7.917 7.917 0 0 1 7.917 7.917zM5.85 3.309a6.833 6.833 0 1 0 2.65-.534 6.787 6.787 0 0 0-2.65.534zm2.654 1.336A1.136 1.136 0 1 1 7.37 5.78a1.136 1.136 0 0 1 1.135-1.136zm.792 9.223V8.665a.792.792 0 1 0-1.583 0v5.203a.792.792 0 0 0 1.583 0z"/>
                </svg>
              </button>
            </div>
            <svg
              class="mcct-icon-svg"
              width="20px"
              height="20px"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="#5C5F62"></path>
            </svg>
          </div>
          <div class="ccapp-msc-tab-content">
            <div class="ccapp-single-panel-pair-container">
              <div class="ccapp-spp-options">Loading...</div>
              <div class="ccapp-spp-position">
                <div class="ccapp-spp-input-wrapper">
                  <label>Position:</label>
                  <select class="ccapp-spp-select" name="panel-position"></select>
                </div>
              </div>
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} <div class="ccapp-msc-tab" data-index="9">
          <div class="ccapp-msc-tab-heading">
            <div class="ccapp-osps-header">
              <h3 class="ccapp-osps-htitle">Select Lift Type</h3>
              <button class="ccapp-lt-btn ccapp-lift-modal-opener" data-type="panel-type">
                <svg
                  fill="#000000"
                  width="20px"
                  height="20px"
                  viewBox="-1 0 19 19"
                  xmlns="http://www.w3.org/2000/svg"
                  class="cf-icon-svg"
                >
                  <path d="M16.417 9.583A7.917 7.917 0 1 1 8.5 1.666a7.917 7.917 0 0 1 7.917 7.917zM5.85 3.309a6.833 6.833 0 1 0 2.65-.534 6.787 6.787 0 0 0-2.65.534zm2.654 1.336A1.136 1.136 0 1 1 7.37 5.78a1.136 1.136 0 0 1 1.135-1.136zm.792 9.223V8.665a.792.792 0 1 0-1.583 0v5.203a.792.792 0 0 0 1.583 0z"></path>
                </svg>
              </button>
            </div>
            <svg
              class="mcct-icon-svg"
              width="20px"
              height="20px"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="#5C5F62"></path>
            </svg>
          </div>
          <div class="ccapp-msc-tab-content">
            <div class="ccapp-lift-type-container">
              <div class="ccapp-lift-type-wrapper">
                <div class="ccapp-lift-type-item">Loading...</div>
              </div>
              <div class="ccapp-lift-type-btns-container"></div>
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} <div class="ccapp-msc-tab" data-index="10">
          <div class="ccapp-msc-tab-heading">
            <div class="ccapp-osps-header">
              <h3 class="ccapp-osps-htitle">Select Trim</h3>
              <button class="ccapp-trim-modal ccapp-trim-modal-opener" data-type="trim">
                <svg
                  fill="#000000"
                  width="20px"
                  height="20px"
                  viewBox="-1 0 19 19"
                  xmlns="http://www.w3.org/2000/svg"
                  class="cf-icon-svg"
                >
                  <path d="M16.417 9.583A7.917 7.917 0 1 1 8.5 1.666a7.917 7.917 0 0 1 7.917 7.917zM5.85 3.309a6.833 6.833 0 1 0 2.65-.534 6.787 6.787 0 0 0-2.65.534zm2.654 1.336A1.136 1.136 0 1 1 7.37 5.78a1.136 1.136 0 0 1 1.135-1.136zm.792 9.223V8.665a.792.792 0 1 0-1.583 0v5.203a.792.792 0 0 0 1.583 0z"/>
                </svg>
              </button>
            </div>
            <svg
              class="mcct-icon-svg"
              width="20px"
              height="20px"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="#5C5F62"></path>
            </svg>
          </div>
          <div class="ccapp-msc-tab-content">
            <div class="ccapp-trim-container">
              <div class="ccapp-trim-wrapper">
                <div class="ccapp-trim-item">Loading...</div>
              </div>
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} <div class="ccapp-msc-tab" data-index="11">
          <div class="ccapp-msc-tab-heading">
            <div class="ccapp-osps-header">
              <h3 class="ccapp-osps-htitle">Border Selection</h3>
              <button class="ccapp-border-modal ccapp-border-modal-opener" data-type="border">
                <svg
                  fill="#000000"
                  width="20px"
                  height="20px"
                  viewBox="-1 0 19 19"
                  xmlns="http://www.w3.org/2000/svg"
                  class="cf-icon-svg"
                >
                  <path d="M16.417 9.583A7.917 7.917 0 1 1 8.5 1.666a7.917 7.917 0 0 1 7.917 7.917zM5.85 3.309a6.833 6.833 0 1 0 2.65-.534 6.787 6.787 0 0 0-2.65.534zm2.654 1.336A1.136 1.136 0 1 1 7.37 5.78a1.136 1.136 0 0 1 1.135-1.136zm.792 9.223V8.665a.792.792 0 1 0-1.583 0v5.203a.792.792 0 0 0 1.583 0z"/>
                </svg>
              </button>
            </div>
            <svg class="mcct-icon-svg" width="20px" height="20px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="#5C5F62"></path>
            </svg>
          </div>
          <div class="ccapp-msc-tab-content">
            <div class="ccapp-border-ui">
              <div class="ccapp-border-swatch-wrapper" id="borderSwatchWrapper"></div>
              <div class="ccapp-border-dropdowns">
                <div class="ccapp-border-dropdown">
                  <label id="edgeLabel">Select a border position:</label>
                  <select class="ccapp-border-select" id="edgeSelect"></select>
                </div>
              </div>
            </div>
          </div>
        </div> {% endcomment %}

      </div>
    </div>

    <div class="ccapp--price--container">
      <div class="left-section">
          <a href="#" class="link-item">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.0003 18.6099C15.258 18.6099 17.9053 15.9599 17.9053 12.7024C17.9053 9.44486 15.2578 6.79736 12.0003 6.79736C8.74277 6.79736 6.09277 9.44461 6.09277 12.7024C6.09277 15.9601 8.74252 18.6099 12.0003 18.6099ZM12.0003 7.54736C14.8528 7.54736 17.1553 9.84986 17.1553 12.7024C17.1553 15.5549 14.8525 17.8599 12.0003 17.8599C9.14802 17.8599 6.84277 15.5546 6.84277 12.7024C6.84277 9.85011 9.14777 7.54736 12.0003 7.54736Z" fill="#414141"/>
              <path d="M11.9998 15.7224C13.6385 15.7224 14.9698 14.3636 14.9698 12.7024C14.9698 11.0434 13.6385 9.68485 11.9998 9.68485C11.7928 9.68185 11.6223 9.84735 11.6195 10.0546C11.6165 10.2616 11.782 10.4321 11.9893 10.4349C11.9928 10.4349 11.9963 10.4349 11.9998 10.4349C13.2258 10.4349 14.2198 11.4414 14.2198 12.7024C14.2198 13.9661 13.2258 14.9724 11.9998 14.9724C10.7708 14.9724 9.77979 13.9666 9.77979 12.7024C9.78279 12.4954 9.61729 12.3249 9.41004 12.3221C9.20304 12.3191 9.03279 12.4846 9.02979 12.6919C9.02979 12.6954 9.02979 12.6989 9.02979 12.7024C9.02979 14.3631 10.3588 15.7224 11.9998 15.7224Z" fill="#414141"/>
              <path d="M19.3797 8.56486C20.0312 8.56486 20.5597 8.02136 20.5597 7.36986C20.5597 6.71711 20.0312 6.17236 19.3797 6.17236C18.7282 6.17236 18.1997 6.71711 18.1997 7.36986C18.1997 8.02136 18.7282 8.56486 19.3797 8.56486ZM19.3797 6.92236C19.6182 6.92236 19.8097 7.11261 19.8097 7.36986C19.8097 7.62336 19.6182 7.81486 19.3797 7.81486C19.1412 7.81486 18.9497 7.62336 18.9497 7.36986C18.9497 7.11261 19.1412 6.92236 19.3797 6.92236Z" fill="#414141"/>
              <path d="M20.5224 20.9124C21.6784 20.9124 22.6224 19.9484 22.6224 18.7799V6.6274C22.6224 5.4589 21.6784 4.4949 20.5224 4.4949H7.38994V4.4799C7.38994 3.72015 6.77544 3.0874 6.01744 3.0874H4.25244C3.49444 3.0874 2.87744 3.7189 2.87744 4.4799V4.5844C2.00944 4.8484 1.37744 5.6689 1.37744 6.6274V18.7799C1.37744 19.9477 2.31894 20.9124 3.47494 20.9124H20.5224ZM3.62744 4.4799C3.62744 4.1209 3.91044 3.8374 4.25244 3.8374H6.01744C6.35944 3.8374 6.63994 4.11965 6.63994 4.4799V4.4949H3.62744V4.4799ZM2.12744 18.7799V6.6274C2.12744 5.94115 2.62044 5.3754 3.24944 5.2649C3.28494 5.26515 3.32019 5.2604 3.35444 5.25065C3.39369 5.2469 3.43419 5.2449 3.47494 5.2449H6.95394C6.99394 5.2514 7.03494 5.2514 7.07494 5.2449H20.5224C21.2614 5.2449 21.8724 5.8609 21.8724 6.6274V18.7799C21.8724 19.5464 21.2614 20.1624 20.5224 20.1624H3.47494C2.73594 20.1624 2.12744 19.5472 2.12744 18.7799Z" fill="#414141"/>
              <path d="M18.4142 19.26C18.4177 19.26 18.4212 19.26 18.4247 19.26H19.7097C19.8897 19.26 20.0427 19.2562 20.1942 19.2277C20.3457 19.1992 20.5105 19.1362 20.6357 19.0082C20.8862 18.7522 20.885 18.4375 20.885 18.0425V15.37C20.888 15.163 20.7225 14.9925 20.5152 14.9897C20.5115 14.9897 20.508 14.9897 20.5042 14.9897C20.2972 14.9927 20.132 15.163 20.135 15.37V18.0425C20.135 18.338 20.0962 18.4602 20.0952 18.4815C20.0875 18.4837 20.0762 18.4867 20.0557 18.4907C19.9927 18.5025 19.8737 18.5102 19.71 18.5102H18.4247C18.2177 18.5072 18.0475 18.6727 18.0445 18.88C18.0415 19.0867 18.207 19.257 18.4142 19.26Z" fill="#414141"/>
              </svg>              
              Photo Gallery
          </a>
          <a href="#" class="link-item">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
              </svg>
              Get Free Sample
          </a>
      </div>
      <div class="ccapp-price--wrapper">
        <div class="ccapp--total--price">TOTAL: Loading...</div>
        <button class="add-to-cart">ADD TO CART</button>
      </div>
  </div>

  </div>
</curtain-customizer-app>

{{ 'script.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Curtain Customizer",
  "target": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "moc_image",
      "label": "Select Moc Image"
    },
    {
      "type": "image_picker",
      "id": "moc_image_mbl",
      "label": "Select Moc Image (Mobile)"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ]
}
{% endschema %}
